html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier;
    background-color: #f8f8f8;
}

.container {
    padding: 30px;
    font-size: 40px;
    background-color: #0F0E11;
    color: #f8f8f8;
}

.dark-mode {
    filter: invert(100%) hue-rotate(180deg);
}
  